# Python Basics

## Data and Expressions

A __literal__ is a sequence of one or more character that stands for itself.

### Numeric Literals

Contains decimal point -> floating-point value

Otherwise -> integer value

In [1]:
type(1.0)

float

In [2]:
3+6

9

In [3]:
type(1)

int

In [4]:
# Limit of Precision
1.0/3

0.3333333333333333

In [5]:
5.0//3

1.0

In [6]:
3*(1.0/3)

1.0

In [7]:
# Built-in Format Function 
12.0/5

2.4

In [8]:
a = format(12.0/5, '.2f')
a

'2.40'

In [9]:
type(a) # It's string careful.

str

In [10]:
float(a)

2.4

In [11]:
int('123')

123

In [12]:
str(13)

'13'

In [13]:
a

'2.40'

In [14]:
5.0/7

0.7142857142857143

In [15]:
2*a

'2.402.40'

In [16]:
float(format(5.0/7, '.2f'))

0.71

### String Literals

__Strings__ represent a sequence of characters. 

Strings surrounded by a matching pair of either single (') or double (") quotes.

In [17]:
print('Hello World!')

Hello World!

In [18]:
print('String 10 String 20')

String 10 String 20

In [19]:
'String 1' # single quotes

'String 1'

In [20]:
"String 2" # Double quotes

'String 2'

In [21]:
"Enes's String" # Usage of single and double together

"Enes's String"

In [22]:
type("") # Empty string

str

In [23]:
' ' # String which contains only space

' '

So how is computer understands the character, since language of computer is made of 1s and 0s?

![ASCII Table](https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/ASCII-Table-wide.svg/1280px-ASCII-Table-wide.svg.png)

There is a special encoding for character which represents a number between 0 to 127.

In [24]:
ord('1') # Returns the ASCII value of string 1

49

In [25]:
chr(122) # Returns the character value of ASCII 122

'z'

### Variable

A variable is an identifier (name) that is associated with a value.

In [26]:
num = 10

In [27]:
num

10

Variable can be assigned different values during a program's execution. 

Variables are assigned values by use of the assignment operator (=)

In [28]:
# Update Variable
num = num + 1 # num += 1

In [29]:
num = ("Nazugum")

In [ ]:
type(num)

str

Now let's learn how to assign values which comes from the user inputs.

In [ ]:
name = input("What is your first name?")

In [ ]:
(name + " ")* 2

In [ ]:
num_credits

In [ ]:
num_credits = 54

- All input is returned by the input function as as string type.
- For the input of numeric values, the response must be converted to the appropriate type.

In [ ]:
line = input('How many credits do you have?')

In [ ]:
num_credits = int(line)
num_credits

In [ ]:
num_credits

There are some restrictions on declaring variable names:

- quotes not allowed
- spaces not allowed
- cannot begin with digit
- should not begin with underscore

In [ ]:
name" = 2

In [ ]:
"name" = "Enes"

In [ ]:
name_student = "Enes"
name_student

In [ ]:
2012name = "Enes"

In [ ]:
name-enes

In [ ]:
name = "Enes"
name

Another important rule when it comes to usage of specific names. You cannot use predefined names. This is really important because Python won't complain when you use them but it will cause unwanted damages to your program.

![Keywords](http://keefwiki.com/tech/wp-content/uploads/sites/4/2015/06/Python-keywords.png)

### Apply it!

<p style=color:red>
You will write a small program using the basics I talked about above which produces the following output: 
</p>

    This program will calculate a restaurant tab for a couple with a gift certificate, with a reataurant tax of 8.0%
    Enter the amount of the gift certificate: 200
    Enter ordered items for person 1
    Appetizer: 5.50
    Entree: 21.50
    Drinks: 4.25
    Dessert: 6.00
    
    Enter ordered items for person 2
    Appetizer: 6.25
    Entree: 18.50
    Drinks: 6.50
    Dessert: 5.50
    
    Ordered items: $ 74.00
    Restaurant tax: $ 5.92
    Tab: $ -120.08
    (negative amount indicates unused amount of gift certificate)
    
<p style=color:red>
You need to use input function for gift certificate, appetizer, entree, drinks, dessert 
</p>

### Test Time

__Question1:__ Which of the following are valid assignment statements, in which only variable k has already
been assigned a value?

1. ```n = k + 1```
2. ```n = n + 1```
3. ```n + k = 10```
4. ``` n + 1 = 1```


__Question2:__ What is the value of variable num after the following assignment statements are executed?

    num = 0
    num = num + 1
    num += 5


__Question3:__ Do variables num and k reference the same memory location after the following instructions are executed? (YES/NO)

    num = 10
    k = num
    num += 1
    
__Question4:__ Which of the following are valid identifi ers in Python?

1. ```errors```
2. ```error_count```
3. ```error-count```

__Question5:__ Which of the following are keywords in Python?

1. ```and```
2. ```As```
3. ```while```
4. ```until```
5. ```NOT```

__Question6:__ Which one of the following is correct for reading and storing and integer value from the user?

1. ```n = input('Enter: ')```
2. ```n = int(input('Enter: ')```

### Operators

An operator is a symbol that represents an operation that may be performed on one or more _operands._ 

#### Arithmetic Operators

![Arithmetic Operators](http://images.slideplayer.com/12/3592158/slides/slide_8.jpg)

In [ ]:
20 - 5

In [ ]:
-10 * 2

In [ ]:
2 ** 4

In [ ]:
2.5 ** 4

In [ ]:
25.0 // 10

In [ ]:
25 // 10

In [ ]:
25.0 / 10

### Apply it!

<p style=color:red>
You will write a small program using the basics I talked about above which producing the following output: 
</p>

    This program will determine your place in the universe.
    Enter your weight in pounds: 150
    You contain approximately 3.30e+28 atoms
    Therefore, you comprise 3.30e-51 % of the universe
    
<p style=color:red>
Use these initial variables: <br>
num_atoms_universe = 10e80 <br>
weight_avg_person = 70 # 70 Kg == (154 lbs) <br>
num_atoms_avg_person = 7e27 <br>
</p>

### Test Time

__Question1:__ Give the results for each of the following.

1. ```-2 * 3```
2. ```15 % 4```
3. ```3 ** 2```

__Question2:__ Give the exact results of each of the following division operations.

1. ```5 / 4```
2. ```5 // 4```
3. ```5.0 // 4```

__Question3:__ Which of the expressions in question 2 is an example of integer division?

__Question4:__ Do any two of the expressions in question 2 evaluate to the exact same result? (YES/NO)

__Question5:__ How many operands are there in the following arithmetic expression?

    2 * 24 + 60 - 10

### Expression and Data Types

An expression is a combination of symbols that evaluates to a value. 

    4 + (3 * k)
    
This expression has two subexpressions, ```4``` and ```(3 * k)```. Subexpression ```(3 * k)``` itself has two
subexpressions, ```3``` and ```k```.

> An expression is a combination of symbols (or single symbol) that evaluates to a value. A sub-expression is any expression that is part of a larger expression.