# List Structures

The concept of a list is similar to oureveryday notion of a list. We read off (access) items on our to-do list, add items, cross off (delete) items, and so forth. We look at the use of lists next.

- A __list__ is a linear data structure , meaning that its elements have a linear ordering. (First, second, ...)
- Each item in the list is identified by its index value (location) .
- Index starts with 0

![](http://3.bp.blogspot.com/-tmE7ZgDwQWQ/VNI0pABQSXI/AAAAAAAAAmg/_JUW7JrkEhI/s1600/StructureList.PNG)

There are common operations performed on lists including; retrieve, update, insert, delete, and append.

![List Operations](https://raw.githubusercontent.com/NAU-ACM/IntroductionToPython/master/images/list_operations.png)

## Lists in Python

- Mutable
- Flexible length
- Allowing mixed type elements
- index 0...n-1
- denoted with ```[value1, value2]```

In [1]:
type(['one', 'two'])

list

In [2]:
type(['apples' , 50, False])

list

In [4]:
type([]) # Empty list

list

In [7]:
# Define a list
# Using list function to create empty list
a = list()
print(type(a))
print(a)

<type 'list'>
[]

In [8]:
# Using brackets to create empty list
b = []
print(type(b))
print(b)

<type 'list'>
[]

In [9]:
# We can also initilize lists with some content inside
c = [1,2,3] # Create list with integer values inside

In [12]:
# We can access specific elements of the list using index value
print(c[1])

2

In [13]:
print(c[0])

1

In [15]:
total = c[0] + c[1] + c[2]
total

6

In [28]:
# Creates a list of elements from 0 to 9
lst = list(range(10)) 
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
# Lets update(replace) an element of the list called lst
lst[2] = 19
print(lst)

[0, 1, 19, 3, 4, 5, 6, 7, 8, 9]

In [30]:
# Let's remove an element from the list
del lst[2]
print(lst)

[0, 1, 3, 4, 5, 6, 7, 8, 9]

In [31]:
# We can add elements to the list using 2 different methods:

lst.insert(8,3) # adds element 3 at index 8
print(lst)

[0, 1, 3, 4, 5, 6, 7, 8, 3, 9]

In [32]:
lst.append(4) # adds element 4 at the end of list
print(lst)

[0, 1, 3, 4, 5, 6, 7, 8, 3, 9, 4]

## Tuples in Python

In contrast to lists, tuple is defined and cannot be altered. Otherwise, lists and tuples are essentially same. To denote tuples we use ```( )```

In [34]:
nums = (10,20,30)

In [36]:
type(nums)

tuple

In [37]:
print(nums[2])

30

In [39]:
nums.insert(1,15) # Non alterable

AttributeError: 'tuple' object has no attribute 'insert'

In [40]:
del nums[2]

TypeError: 'tuple' object doesn't support item deletion

In [41]:
nums.append(40)

AttributeError: 'tuple' object has no attribute 'append'

## Sequences

A __sequence__ in Python is a linearly ordered set of elements accessed by an index number.

Lists, tuples, and strings are all sequences. 

We know what is string: ```"String"```

Strings are also immutable like tuples, but we can we will use the intensively. 

Let's look at more operations we can use with sequences:

In [50]:
# Initializing our variable 
s1 = 'hello'
s2 = 'world!'
t1 = (1,2,3,4)
t2 = (5,6)
l1 = ['apple', 'pear', 'peach']
l2 = [10,20,30,40,50,60,70]

__Finding length with ```len()```:__

In [51]:
# Finding length for string
print(len(s1))
print(len(s2))

5
6

In [52]:
# Finding length for tuples
print(len(t1))
print(len(t2))

4
2

In [53]:
# Finding length for lists
print(len(l1))
print(len(l2))

3
7

__Accessing elements by indexing:__

In [55]:
print(s1[0])
print(s2[4])

h
d

In [57]:
print(t1[1])

2

In [58]:
print(l2[2])

30

__Slicing:__

In [59]:
s1[1:4]

'ell'

In [60]:
s2[3:]

'ld!'

In [61]:
l1[1:]

['pear', 'peach']

In [67]:
t1[::-1] # Special Slicing feature

(4, 3, 2, 1)

__Counting elements:__

In [69]:
s1.count('l') # Counting l occurences in the sequence

2

In [70]:
l2.count(30)

1

In [72]:
t1.count(15)

0

__Finding Indexes from elements:__

In [73]:
s1.index('h')

0

In [74]:
l1.index('peach')

2

In [75]:
t1.index(3)

2

__Checking Membership with ```in``` :__

In [77]:
'h' in s1

True

In [78]:
9 in t2

False

In [79]:
30 in l2

True

__Concatenation:__

In [81]:
print(s1+s2)
print(s1 + " " +s2)

helloworld!
hello world!

In [82]:
print(t1+t2)

(1, 2, 3, 4, 5, 6)

In [83]:
print(l1+l2)

['apple', 'pear', 'peach', 10, 20, 30, 40, 50, 60, 70]

__Finding minimum:__

In [86]:
min(s2)

'!'

In [88]:
min(t2)

5

In [90]:
min(l1)

'apple'

__Finding maximum:__

In [91]:
max(s2)

'w'

In [92]:
max(t1)

4

In [93]:
max(l1)

'pear'

Lists and Tuples can used with more dimensions. Nested lists and tuples are giving this flexibility.

In [97]:
class_grades = [ [85, 91, 89], 
                 [78, 81, 86], 
                 [62, 75, 77] ]

In [98]:
class_grades

[[85, 91, 89], [78, 81, 86], [62, 75, 77]]

When we trying to get the specific elements in nested lists or tuples, we should do something different:

In [100]:
class_grades[0] # Prints the first sub-list

[85, 91, 89]

In [103]:
# We can get the specific item like this in a long way 
student1_grades = class_grades[0]
student1_exam1 = student1_grades[0]
student1_exam1

85

In [104]:
# In short this is more conventional
class_grades[0][0]

85

In [110]:
# Let's write a small script that calculates the class average.
k = 0
exam_avg = []
while k < len(class_grades):
    avg = (class_grades[k][0] + class_grades[k][1] + class_grades[k][2]) / 3.0
    exam_avg.append(avg)
    k += 1

format((sum(exam_avg) / 3.0), '.2f')

'80.44'

### Apply It!

<p style=color:red>
Write a small program that finds your Chineze Zodiac and its characteristics using tuples and datetime module, resulting output:
</p>
    
    This program will display your Chinese Zodiac Sign and Associated personal characteristics.
    
    Enter your year of birth (yyyy): 1984
    Your Chinese Zodiac sign is the Rat
    
    Your personal charactersitics...
    Forthright, industrious, sensitive, intellectual, sociable
    
    Would you like to enter another year? (y/n): n
    

<p style=color:red>
Here are the characteristics: <br>

rat = 'Forthright, industrious, sensitive, intellectual, sociable' <br>
ox = 'Dependable, methodical, modest, born leader, patient' <br>
tiger = 'Unpredictable, rebellious, passionate, daring, impulsive' <br>
rabbit = 'Good friend, kind, soft-spoken, cautious, artistic' <br>
dragon = 'Strong, self-assured, proud. decisive, loyal' <br>
snake = 'Deep thinker, creative, responsible, calm, purposeful' <br>
horse = 'Cheerful, quick-witted, perceptive, talkative, open-minded' <br>
goat = 'Sincere, sympathetic, shy, generous, mothering' <br>
monkey = 'Motivator, inquisitive, flexible, innovative, problem solver' <br>
rooster = 'Organizer, self-assured, decisive, perfectionist, zealous' <br>
dog = 'Honest, unpretentious, idealistic, moralistic, easy going' <br>
pig = 'Peace-loving, hard-working, trusting, understanding, thoughtful' <br>
</p>

### Test Time

__Question1:__ Which of the following sequence types is a mutable type?

    a) Strings
    b) Lists
    c) Tuples
    
__Question2:__ What is the result of the following snippet:

    lst = [4,2,9,1]
    lst.insert(2,3)
    
    a) [4,2,3,9,1]
    b) [4,3,2,9,1]
    c) [4,2,9,2,1]
    
__Question3:__ Which of the following set of operations can be applied to any sequence?

    a) len(s), s[i], s+w (concatenation)
    b) max(s), s[i], sum(s) 
    c) len(s), s[i], s.sort()

## Iterating Over Sequences

We can iterate over sequences using while loop, the one that we learned last lecture. However there is a better and more Pythonic way, it is called __For loops__

- For loops are used to construct definite loops. 

__Syntax:__

    for k in sequence:
        statements

In [111]:
nums = [10,20,30,40,50,60]
for k in nums:
    print(k)

10
20
30
40
50
60

In the example above k is called __loop variable__. In the list we had 6 elements so our loop iterated six times. We can create the same script with while loop as follows:

In [112]:
k = 0
while k < len(nums):
    print(nums[k])
    k += 1

10
20
30
40
50
60

For statement can be applied to all sequence types, including strings. Let's see how:

In [113]:
for ch in 'Hello World!':
    print(ch)

H
e
l
l
o

W
o
r
l
d
!

Now since we know about the beautiful __for loops__, it's time to learn a built-in function most commonly used with for loops: a built-in ```range()``` function

In [115]:
range(2)

[0, 1]

In [116]:
range(1, 11)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [118]:
range(1, 11, 2)

[1, 3, 5, 7, 9]

As you can see ```range()``` function creates a list so we can use it with for loops:

In [119]:
tot = 0
for k in range(1, 11, 2):
    tot += k
    
print(tot)

25

### Test Time

__Question1:__ For ```nums=[10,30,20,40]``` , what does the following for loop output?

    for k in nums:
        print(k)
        
__Questions2:__ For ```fruit='strawberry'``` , what does the following for loop output?

    for k in range(0,len(fruit),2):
        print(fruit[k], end='')
        
__Question3:__ For ```nums=[12, 4, 11, 23, 18, 41, 27]``` , what is the value of k when the while loop terminates?

    k = 0
    while k < len(nums) and nums[k] != 18:
        k += 1

### List Comprehension

The ```range``` function allows for the generation of sequences of integers in fixed increments.

__List Comprehensions__ in Python can be used to generate more varied sequences.

In [120]:
[x**2 for x in [1,2,3]]

[1, 4, 9]

In [121]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [122]:
nums = [-1,1,-2,2,-3,3,-4,4,-5,5]
[x for x in nums if x >= 0]

[1, 2, 3, 4, 5]

In [124]:
[ord(ch) for ch in 'Hello World']

[72, 101, 108, 108, 111, 32, 87, 111, 114, 108, 100]

In [125]:
vowels = ('a', 'e', 'i','o', 'u')
w = 'Hello World!'
[ch for ch in w if ch in vowels]

['e', 'o', 'o']